body {
        font-family: Arial, sans-serif;
        background-color: #030303;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .produto-item {
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #666;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
      }

      .produto-item img {
        width: 100%;
        height: auto;
      }

      .descricao {
        padding: 16px;
      }

      .descricao h2 {
        margin: 0;
        font-size: 25px;
        color: #fff;
      }

      .descricao h5 {
        margin: 10px 0;
        font-size: 16px;
        color: #fff;
      }

      .descricao .estrela-container {
        display: flex;
        flex-direction: row; /* Alterado de column para row */
        justify-content: center;
        margin: 16px 0;
      }

      .descricao .estrela {
        width: 40px;
        margin: 0 4px; /* Ajustado o espaçamento entre as estrelas */
      }

      .produto-item a {
        display: block;
        margin: 16px auto;
        padding: 10px 16px;
        text-decoration: none;
        color: #fff;
        background-color: fuchsia;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
      }

      .produto-item a:hover {
        background-color: darkmagenta;
      }